/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
.post {
  white-space: pre-line
}

.body-body {
  display: flex;
  justify-content: center;
}

.body-content {
  display: flex;
  flex-flow: column;
}

.navbar-brand {
  color: #20c997;
  font-weight: bold;
  font-size: x-large
}

.navbar-brand:hover {
  color: #0a835f;
  font-weight: bold;
  font-size: x-large
}

.btn-outline-primary {
  color: #20c997;
  background-color: white;
  border-color:  #20c997;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  background-color: #20c997;
  color: white;
  border-color:  white;
}